body {
    background-color:#222222;
    margin:0;
    padding:0;
    display:inline;
}

.logo{
    float:left;
    font-family: 'Montserrat', sans-serif;
    color:#FF5851;
    margin-left:3%;
    font-size:250%;
}

.welcome{
    color:#FF5851;
    text-align: center; /* << That centers the element on the page, and adapts to your screen size */
    margin-top:20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 600%;
}

.dividk{
    padding:15%;
    background-color:#FF5851;
}

.header{
    top:250%;
    text-align: center; /* << That centers the element on the page, and adapts to your screen size */
    display:block;
    color:black;
    font-family: 'Montserrat', sans-serif;
    overflow:visible;
    position: relative;
    font-size:500%;
}

.paragraph1{
    font-family: 'Montserrat';
    margin-left:6%;
    font-size:120%;
    text-align: center;
 
}

@media screen and (max-height: 300px) {
	.welcome, .welcome:after, .welcome:hover:after, .logo {
		margin-top: 40px;
	}
}
