body {
    background-color:#222222;
    margin:0;
    padding:0;
    display:inline;
}

.logo{
    float:left;
    font-family: 'Montserrat', sans-serif;
    color:#FF5851;
    margin-left:3%;
    font-size:250%;
}

.welcome{
    color:#FF5851;
    margin-left:35%;
    margin-top:20%;
    display:block;
    font-family: 'Montserrat', sans-serif;
}

.dividk{
    padding-left:20%;
    padding-bottom:30%;
    padding-top:2%;
    background-color:#FF5851;
}

.header{
    top:250%;
    margin-left:4%;
    display:block;
    color:black;
    font-family: 'Montserrat', sans-serif;
    overflow:visible;
    position: relative;
    font-size:500%;
}

.paragraph1{
    font-family: 'Montserrat';
    margin-right:20%;
    font-size:120%;
}

@media screen and (max-height: 300px) {
	.welcome, .welcome:after, .welcome:hover:after, .logo {
		margin-top: 40px;
	}
}
